.button {
  @include reset-button;
  @include flex-center;

  --ButtonTextColor: var(--color-dark-alt);
  --ButtonBackgroundColor: transparent;
  --ButtonBackgroundColorHover: transparent;
  --ButtonTextColorHover: var(--color-dark-alt);

  background-color: var(--ButtonBackgroundColor);
  color: var(--ButtonTextColor);

  font-weight: 700;
  font-size: 16px;
  cursor: pointer;

  @include desktop {
    font-size: 14px;
  }

  @include hover {
    --ButtonTextColor: var(--ButtonTextColorHover);
    --ButtonBackgroundColor: var(--ButtonBackgroundColorHover);
  }

  &__text {
    border-right: solid 2px var(--ButtonTextColor);
    padding-right: 14px;
    margin-right: 14px;
  }

  &--gray {
    --ButtonTextColor: var(--color-gray-dark-alt-2);
    --ButtonBackgroundColor: var(--color-gray);
    --ButtonBackgroundColorHover: var(--color-accent);
    --ButtonTextColorHover: var(--color-dark-alt);

    padding: var(--button-padding-y-large) var(--button-padding-x-large);
    border-radius: var(--button-border-radius-large);

    @include fluid-text(14, 10);
    line-height: 2;

    @include mobile {
      padding: var(--button-padding-y-mobile) var(--button-padding-x-mobile);
      line-height: 2.8;
    }
  }
  &--contact {
    --ButtonTextColor: var(--color-dark-alt-2);
    --ButtonBackgroundColorHover: var(--color-light-blue);
    --ButtonTextColorHover: var(--color-dark-alt);

    padding: var(--button-socials-padding-y) var(--button-socials-padding-x);
    border: 2px solid var(--color-light-blue);
    border-radius: var(--border-radius);

    @include mobile {
      border-radius: var(--border-radius-small);
      padding: 8px;

      & > svg {
        width: 20px;
        height: 20px;
      }
    }
  }
  &--light {
    --ButtonTextColor: var(--color-dark-alt);
    --ButtonBackgroundColor: var(--color-light);

    padding: var(--button-padding-y-extra-large) var(--button-padding-x);
    border-radius: var(--button-border-radius);

    line-height: 1.44;
  }
  &--accent {
    --ButtonBackgroundColor: var(--color-accent);
    --ButtonBackgroundColorHover: var(--color-dark-alt);
    --ButtonTextColorHover: var(--color-accent);

    padding: var(--button-padding-y-extra-large) var(--button-padding-x);
    border-radius: var(--button-border-radius);

    line-height: 1.44;
  }
  &--add-to-cart {
    --ButtonBackgroundColor: var(--color-accent);
    --ButtonBackgroundColorHover: var(--color-dark-alt);
    --ButtonTextColorHover: var(--color-accent);

    padding: var(--button-padding-y) var(--button-padding-x);
    border-radius: var(--button-border-radius);

    font-size: 14px;
    line-height: 200%;
  }
  &--rounded {
    border-radius: var(--button-border-radius-large);
  }
}
