.container{
    width: 100%;
    max-width: var(--container-max-width);
    margin: 0 auto;
    padding-inline: var(--container-padding-x);

    @include mobile{
        padding-inline: var(--container-padding-x-mobile);
    }
}