* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

p,
a,
address {
  font-style: normal;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  width: 100%;
  height: 100%;
  vertical-align: bottom;
  object-fit: cover;
}
