:root {
  --color-accent: #f7d22d;
  --color-red: #ff2e65;
  --color-dark: #000000;
  --color-dark-alt: #231f20;
  --color-dark-alt-2: #0e0c0d;
  --color-gray: #f3f3f7;
  --color-gray-dark: #686466;
  --color-gray-dark-alt: #797979;
  --color-gray-dark-alt-2: #473e43;
  --color-light: #ffffff;
  --color-light-blue: #e3ecf5;

  --container-max-width: 1168px;
  --container-padding-x: 20px;
  --container-padding-x-mobile: 10px;

  --header-padding-y: 20px;

  --button-border-radius: 8px;
  --button-border-radius-large: 28px;
  --button-padding-x: 25px;
  --button-padding-y: 4px;
  --button-padding-y-large: 7px;
  --button-padding-y-extra-large: 9px;
  --button-padding-x-large: 28px;

  --transition-duration: 0.3s;

  --border-radius: 13px;
  --border-radius-small: 10px;
  --border-radius-large: 20px;
  --border-radius-smaller: 12px;
}
